<div class='green bg-warning h-100 w100'>
  <h1 class="h3 fas text-light mt-5 mb-5 w-100 text-center">初回ログイン</h1>
  <h1 class="h2 fas text-light mt-5 mb-5 w-100 text-center">ようこそ meetupへ</h1>
  <%= link_to "グループを作成", new_community_path, class: "fas bg-success btn text-light d-block w-25 mx-auto mt-5" %>
  <%= link_to "グループに参加", users_path, class: "fas bg-success btn text-light d-block w-25 mx-auto mt-5" %>
</div>