<%= render 'communities/header' %>
<div class='boads'>
  <% @boards.each do |board| %>
  <div class='board'>
    <div class="card">
      <div class="card-header">
        community_name
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"><%= board.text %></p>
        <a href="#" class="btn btn-light">show</a>
      </div>
    </div>
  </div>
  <% end %>
</div>

