<div class='green bg-warning h-100 w100'>
  <h1 class="h3 fas fa-3x text-light mt-5 mb-5 w-100 text-center">初回ログイン</h1>
  <i class="fas fa-door-open fa-10x d-block text-center w-100 p-5 text-light"></i>
  <h1 class="h2 fas text-light mt-5  w-100 text-center">ようこそ meetupへ</h1>
  <%= link_to "グループを作成", new_community_path, class: "fas bg-success btn text-light d-block fa-2x w-50 mx-auto mt-5" %>
  <%= link_to "グループに参加", communities_path, class: "fas bg-success btn text-light d-block w-50 fa-2x mx-auto mt-5" %>
</div>